<!DOCTYPE html>
<html lang="en">

<head>
    <title>AngularApp | HandsOn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.3.1118/styles/kendo.common.min.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.3.1118/styles/kendo.rtl.min.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.3.1118/styles/kendo.default.min.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.3.1118/styles/kendo.mobile.all.min.css">
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/angular.min.js"></script> -->
    <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/kendo.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
    <script type="text/javascript" src="controllers/controller.js"></script>
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    </head>

<body ng-app="mainApp">
    <h1>Welcome to my Angular site :) </h1> <br><br>
    <p>Hello <a href="https://docs.telerik.com/kendo-ui/intro/first-steps">Kendo UI for jQuery</a>!
        This is <strong id="kendoVersion"></strong>. version of Kendo.</p>

    <nav class="{{active}}">
        <a href="#" class="home" ng-click="active='home'">Home</a>
        <a href="dashboard.html" class="dashboard" ng-click="active='dashboard'">Dashboard</a>
        <a href="login.html" class="login" ng-click="active='login'">Login</a>
        <a href="todo.html" class="todo" ng-click="active='todo'">ToDo</a>
    </nav>
    <p ng-hide="active">Please click a menu item</p>
    <p ng-show="active">You chose <b>{{active}}</b></p>
    <br>
    <div ng-include="'login.html'"></div>

    <div class="text-center">
        This is my filter : {{"tutorial" | Demofilter}}
        <div class="align-center" ng-controller="jsonReadData">

            <input type="text" ng-model="searchString" placeholder="Enter your search" />
            <table border="1">
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Color</th>
                </tr>
                <tr ng-repeat="item in myObject | searchFor:searchString">
                    <p>{{item.Name}}</p>
                    <th>{{item.Name}}</th>
                    <th>{{item.Age}}</th>
                    <th>{{item.Color}}</th>
                </tr>
                <th>---</th>
                <td>Total: {{ getTotal() }}</td>
                <th>---</th>
            </table>
        </div>
        <br><strong>This is Loop</strong><br>
        <div ng-controller="loopCtrl">
            <ul>
                <li ng-repeat="item in myRange">
                    {{item}}<br>

                </li>
            </ul>
        </div>
        <br><strong>Change counter</strong><br>
        <div ng-controller="counterCtrl">
            <div>
                <input type="text" ng-model="myText">
                <br>You updated this text box {{counter}} times.
                <br>Old value is {{oldValue}} .
                <br>New value is {{newValue}} .
            </div>
        </div>
        <br><strong>Form example</strong><br>
        <div ng-controller="personCtrl">
            First Name: <input type="text" ng-model="firstName"><br>
            Last Name: <input type="text" ng-model="lastName"><br>
            <br>
            Full Name: {{fullName()}}
        </div>
        <div ng-controller="myCtrlTest">
        </div>
        <div ng-controller="myFactoryTest">
        </div>
        <br><strong>Random value generator</strong><br>
        <div ng-controller="myServiceTest">
            {{generateRandom()}}
            <br>Random value is: {{randomNumber*100}}
        </div>
        <br><strong>Checkbox options</strong><br>
        <table border="1">
            <tr>
                <td><input type="checkbox" ng-model="enableDisableButton">Disable Button</td>
                <td><button ng-disabled="enableDisableButton">Click Me!</button></td>
            </tr>
            <tr>
                <td><input type="checkbox" ng-model="showHide1">Show Button</td>
                <td><button ng-show="showHide1">Click Me!</button></td>
            </tr>
            <tr>
                <td><input type="checkbox" ng-model="showHide2">Hide Button</td>
                <td><button ng-hide="showHide2">Click Me!</button></td>
            </tr>
            <tr>
                <td>
                    <p>Total click: {{ clickCounter }}</p>
                </td>
                <td><button ng-click="clickCounter = clickCounter + 1">Click Me!</button></td>
            </tr>
        </table>
        <br>
        <div id="ordersGrid"></div>
        <div id="ordersChart"></div>


        <script>
            function getFreightColor(freight) {
    if (freight > 60) {
      return "#090";
    } else if (freight < 30) {
      return "#f00";
    } else {
      return "#00c";
    }
}

    $(function() {
$("#kendoVersion").text(kendo.version);
    var orderData = [
  { OrderID: 1, OrderDate: "2017-11-06T12:00:00", Freight: 12.34, ShipCity: "Antwerp", ShipCountry: "Belgium" },
  { OrderID: 2, OrderDate: "2019-03-02T12:00:00", Freight: 23.45, ShipCity: "Singapore", ShipCountry: "Singapore" },
  { OrderID: 3, OrderDate: "2019-06-26T12:00:00", Freight: 34.56, ShipCity: "Shanghai", ShipCountry: "China" },
  { OrderID: 4, OrderDate: "2017-09-20T12:00:00", Freight: 45.67, ShipCity: "Hamburg", ShipCountry: "Germany" },
  { OrderID: 5, OrderDate: "2017-12-12T12:00:00", Freight: 56.78, ShipCity: "Mumbai", ShipCountry: "India" },
  { OrderID: 6, OrderDate: "2018-02-08T12:00:00", Freight: 67.89, ShipCity: "Shanghai", ShipCountry: "China" },
  { OrderID: 7, OrderDate: "2018-05-05T12:00:00", Freight: 78.90, ShipCity: "Tokyo", ShipCountry: "Japan" },
  { OrderID: 8, OrderDate: "2019-08-03T12:00:00", Freight: 89.01, ShipCity: "Port Klang", ShipCountry: "Malaysia" },
  { OrderID: 9, OrderDate: "2018-10-29T12:00:00", Freight: 90.12, ShipCity: "Rotterdam", ShipCountry: "Netherlands" },
  { OrderID: 10, OrderDate: "2018-01-23T12:00:00", Freight: 10.32, ShipCity: "Vancouver", ShipCountry: "Canada" }
];

var gridDataSource = new kendo.data.DataSource({
    data: orderData,
    schema: {
        model: {
          fields: {
            OrderID: { type: "number" },
            Freight: { type: "number" },
            OrderDate: { type: "date" },
            ShipCountry: { type: "string" },
            ShipCity: { type: "string" }
          }
        }
    },
    pageSize: 5
});



$("#ordersGrid").kendoGrid({
  dataSource: gridDataSource,
  dataBound: function(e) {
    var grid = e.sender,
        chart = $("#ordersChart").data("kendoChart");

    chart.dataSource.data(grid.dataSource.data());
    grid.unbind("dataBound");
  },
  
  height: 400,
  pageable: true,
  sortable: true,
  filterable: true,
  columns: [{
    field:"OrderID",
    title: "Order ID"   
  }, {
    title: "Freight",   
    template: "<span style='color:white; background:#= getFreightColor(Freight) #'>#= Freight #</span>"
  }, {
    field: "OrderDate",
    title: "Order Date",
    format: "{0:dd MMMM yyyy}" 
  }, {
    field: "ShipCountry",
    title: "Ship Country"
  }, {
    field: "ShipCity",
    title: "Ship City"
  }]
});
      
});
$("#ordersChart").kendoChart({
      dataSource: {
        data: [],
        sort: {
          field: "ShipCountry",
          dir: "asc"
        }
      },
      title: {
        text: "Orders by Country",
        font: "20px sans-serif",
        color: "#ff6800"
      },
      seriesDefaults: {
        type: "column"
      },
      series: [{
        field: "Freight",
        categoryField: "ShipCountry"
      }],

      seriesClick: function(e) {
    filterGrid(e.category);
  },
  axisLabelClick: function(e) {
    filterGrid(e.value);
  },

      categoryAxis: {
        labels: {
          rotation: -45,
          visual: function(e) {
            var visual = e.createVisual();
            visual.options.cursor = "default";
            return visual;
          }              
        }
      },
      valueAxis: {
        title: {
          text: "metric tons"
        },
        labels: {
          format: "{0:n0}"
        }
      },
      tooltip: {
        visible: true,
        template: "#= category #: #= value # t"
      }
    });

    function filterGrid(country) {
    $("#ordersGrid").data("kendoGrid").dataSource.filter({
        field: "ShipCountry",
        operator: "eq",
        value: country
    });
}
</script>

        </body>

</html>