<!DOCTYPE html>
<html lang="en">

<head>
    <title>AngularApp | HandsOn</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
    <script src="angular/controller.js"></script>
    <link rel="stylesheet" href="style/style.css" >
</head>
<!-- <script>
    function OrderFormController($scope){
// Define the model properties. The view will loop
// through the services array and genreate a li
// element for every one of its items.
$scope.services = [
    {
        name: 'Web Development',
        price: 300,
        active:true
    },{
        name: 'Design',
        price: 400,
        active:false
    },{
        name: 'Integration',
        price: 250,
        active:false
    },{
        name: 'Training',
        price: 220,
        active:false
    }
];

$scope.toggleActive = function(s){
    s.active = !s.active;
};

// Helper method for calculating the total price
$scope.total = function(){
    var total = 0;
    // Use the angular forEach helper method to
    // loop through the services array:
    angular.forEach($scope.services, function(s){
        if (s.active){
            total+= s.price;
        }
    });

    return total;
};
}
</script> -->
<body ng-app="mainApp">
    <h1>Welcome to my Angular site :) </h1> <br><br>
    <nav class="{{active}}" ng-click="$event.preventDefault()">   
        <a href="#" class="home" ng-click="active='home'">Home</a>
        <a href="dashboard.html" class="dashboard" ng-click="active='dashboard'">Dashboard</a>
        <a href="login.html" class="login" ng-click="active='login'">Login</a>
        <a href="todo.html" class="todo" ng-click="active='todo'">ToDo</a>
    </nav>
    <!-- ng-show will show an element if the value in the quotes is truthful,
         while ng-hide does the opposite. Because the active variable is not set
         initially, this will cause the first paragraph to be visible. -->
    <p ng-hide="active">Please click a menu item</p>
    <p ng-show="active">You chose <b>{{active}}</b></p>
<br>

    <br><strong>This is Loop</strong><br>
    <div ng-controller="loopCtrl">
        <ul>
            <li ng-repeat="item in myRange">
                {{item}}<br>
            </li>
        </ul>
    </div>
    <br><strong>Change counter</strong><br>
    <div ng-controller="counterCtrl">
        <div>
            <input type="text" ng-model="myText">
            <br>You updated this text box {{counter}} times.
            <br>Old value is {{oldValue}} .
            <br>New value is {{newValue}} .
        </div>
    </div>
    <br><strong>Form example</strong><br>
    <div ng-controller="personCtrl">
        First Name: <input type="text" ng-model="firstName"><br>
        Last Name: <input type="text" ng-model="lastName"><br>
        <br>
        Full Name: {{fullName()}}
    </div>
    <div ng-controller="myCtrlTest">
    </div>
    <div ng-controller="myFactoryTest">
    </div>
    <br><strong>Random value generator</strong><br>
    <div ng-controller="myServiceTest">
        {{generateRandom()}}
        <br>Random value is: {{randomNumber*100}}
    </div>
    <br><strong>Checkbox options</strong><br>
    <table border="1">
        <tr>
            <td><input type="checkbox" ng-model="enableDisableButton">Disable Button</td>
            <td><button ng-disabled="enableDisableButton">Click Me!</button></td>
        </tr>
        <tr>
            <td><input type="checkbox" ng-model="showHide1">Show Button</td>
            <td><button ng-show="showHide1">Click Me!</button></td>
        </tr>
        <tr>
            <td><input type="checkbox" ng-model="showHide2">Hide Button</td>
            <td><button ng-hide="showHide2">Click Me!</button></td>
        </tr>
        <tr>
            <td>
                <p>Total click: {{ clickCounter }}</p>
            </td>
            <td><button ng-click="clickCounter = clickCounter + 1">Click Me!</button></td>
        </tr>
    </table>
    <br><strong>Select options</strong><br>
    <br>
    <div ng-controller="selectOption">
        <select ng-model="selectedName" ng-options="x for x in names"></select>
</body>

</html>