.tp-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.tp-full-width {
  width: 100%;
}
.tp-h2 {
  margin: 10px;
}
.tp-margin {
  margin: 0 10px;
}
.tp-container {
  display: flex;
  flex-direction: column;
}
.tp-container > * {
  width: 100%;
}
.tp-radio-group {
  display: inline-flex;
  flex-direction: column;
}
.tp-radio-button {
  margin: 5px;
}
.tp-selected-value {
  margin: 15px 0;
}
.tp-margin {
   margin: 30px;
}
.mat-slider-horizontal {
   width: 300px;
}
.mat-slider-vertical {
   height: 300px;
}
.tp-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}
.tp-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  width:100px;
}
.filler {
  flex: 1 1 auto;
}
.gap {
  margin-right: 10px;
}s
